<div class="content">
    {{> navigation}}
    <section id="viewMyPosts">
        <div class="post post-content">
            <h1>Your Posts</h1>
        </div>
        <div class="posts">
    {{#each posts}}
            <article class="post">
                <div class="col rank">
                    <span>{{inc @index}}</span>
                </div>
                <div class="col thumbnail">
                    <a href="{{url}}">
                        <img src="{{imageUrl}}">
                    </a>
                </div>
                <div class="post-content">
                    <div class="title">
                        <a href="{{url}}">
                            {{title}}
                        </a>
                    </div>
                    <div class="details">
                        <div class="info">
                            submitted {{createdBefore _kmd.ect}} ago by {{author}}
                        </div>
                        <div class="controls">
                            <ul>
                                <li class="action"><a class="commentsLink" href="#/comments/:{{_id}}">comments</a>
                                </li>
                                {{#ifCond author "==" ../username}}
                                    <li class="action"><a class="editLink" href="#/editPost/:{{_id}}">edit</a></li>
                                    <li class="action"><a class="deleteLink" href="#/deletePost/:{{_id}}">delete</a></li>
                                {{/ifCond}}
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>
            </article>
    {{/each}}
        </div>
    </section>
</div>